body {
  background: rgb(3, 9, 82);
  background: linear-gradient(
    180deg,
    rgba(3, 9, 82, 1) 0%,
    rgba(102, 63, 203, 1) 55%,
    rgba(244, 168, 63, 1) 100%
  );
}

.App {
  text-align: center;
  min-height: 100vh;
  align-items: center;
}

.portfolio {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.p-card {
  align-content: center;
  justify-content: center;
  border-style: solid;
  border-color: red;
  width: 300px;
}

button {
  background: rgb(3, 9, 82);
  background: linear-gradient(
    180deg,
    rgba(102, 63, 203, 1) 0%,
    rgba(244, 168, 63, 1) 100%
  );
  border-radius: 1em;
  border-style: none;
  height: 4em;
  margin: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
